<main class="index">

    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <div class="container">
                <img src="/img/utn_0.png" style="width: 150px;" class="img-fluid">
            </div>
            <h1 class="mb-1">Sistema de versionamiento de tesis</h1>
            <h3 class="mb-5">
                <em style="color: black;">Desarrollada por Pedro Antonio Clavel Mejia</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Empieza a usarla
            </a>
        </div>

    </header>
</main>